<%-include("partials/header")%>
<%-include("partials/navbar")%>

<div class="container">
    <div class="row d-flex flex-row justify-content-center">
        <div class="col-10">
            <h2>APPLICATION FOR - BAKER</h2>
            <p>Read each one of the job responsibilities and show in the accompanying textbox you can meet it. Include past experience, trainings, certifications, personal qualities etc.</p>
            <p>You are required to bring any supporting documents referred to during the interview session</p>
        </div>
        <form class="col-10" id="applicationform" action="/application" method="POST" enctype="multipart/form-data">
            <input class="d-none" id="fname" name="questions[position]" type="text" value="Baker" required>
            <label class="col-12" for="fname">First Name</label>
            <input id="fname" name="questions[fname]" type="text" required>
            <label class="col-12" for="lname">Last Name</label>
            <input id="lname" name="questions[lname]" type="text" required>
            <label class="col-12" for="lname">Phone Number</label>
            <input id="lname" name="questions[phone]" type="number" required>
            <label class="col-12" for="lname">Email</label>
            <input id="lname" name="questions[email]" type="email" required>
            <label class="col-12" for="q1">Manage all day-to-day operations in the production room, including the operation of industrial equipments (moulders, mixers, ovens, bread slicers etc.) and the supervision of production staff</label>
            <textarea class="col-12" id="q1" maxLength = "900" name="questions[1]" rows="4" cols="50" required></textarea>    
            <label for="q2">Produce a wide vareity of baked goods (include a list of thise you can bake)</label>
            <textarea class="col-12" id="q2" maxLength = "900" name="questions[2]" rows="4" cols="50" required></textarea>    
            <label for="q3">Develop, design or create new ideas and items for production</label>
            <textarea class="col-12" id="q3" maxLength = "900" name="questions[3]" rows="4" cols="50" required></textarea>    
            <label for="q4">Ensure excellent and consistent taste and quality that meet company standards</label>
            <textarea class="col-12" id="q4" maxLength = "900" name="questions[4]" rows="4" cols="50" required></textarea>    
            <label for="q5">Monitor stocks for baking ingridients and liase with accountant to ensure appropriate orders are made within budget and time constraints</label>
            <textarea class="col-12" id="q5" maxLength = "900" name="questions[5]" rows="4" cols="50" required></textarea>    
            <label for="q6">Report equipment problems including servicing dates, ensure all baking and safety equipments are operational</label>
            <textarea class="col-12" id="q6" maxLength = "900" name="questions[6]" rows="4" cols="50" required></textarea>    
            <label for="q7">Provide accurate reports on baking operations</label>
            <textarea class="col-12" id="q7" maxLength = "900" name="questions[7]" rows="4" cols="50" required></textarea>    
            <label for="q8">Provide other relevant support as required by management [Optional]</label>
            <textarea placeholder="Write any additional information you think we should know here [Optional]" class="col-12" id="q8" maxLength = "900" name="questions[8]" rows="4" cols="50"></textarea> 
            
            <label for="cv">Attach CV here </label>
            <input type="file" class="form-control-file" id="cv" name="cv" accept=".doc,.docx,.pdf,.txt" required>
            <p>Ensure CV File name is your name</p>
            <p>Document and pdf only</p>
            <br>
            <button class="mr-4">Submit</button>
            <br>
            <br>
            <br>
        </form>
    </div>
</div>

<%-include("partials/footer")%>