<%-include("partials/header")%>
<%-include("partials/navbar")%>

<div class="container status mt-5">
    <div class="row">
        <h1>Sorry your Appication wasn't recieved please submit again</h1>
        <p class="py-2">You can contact us at: lushovens@gmail.com if this persists</p>
    </div>
</div>

<%-include("partials/footer")%>