<%-include("partials/header")%>
<%-include("partials/navbar")%>

<div class="container status mt-5">
    <div class="row">
        <h1>Your Application was succesfully submitted</h1>
        <p class="py-2">Shortlisted applicants will hear from us soon for an interview!</p>
    </div>
</div>

<%-include("partials/footer")%>